@import "variables";
@import "fuentes";
@import "botones";
@import "componentes";
@import "mixins";

body{
    margin: 0;
    font-family: $primary-font;
    body {     display: grid;     grid-row-gap: 30px; }  
    }
.container{     display: grid;     grid-gap:10px  10px; }
